*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: blue 1px solid; */
}
body{
    background-color: #0b0c0f ;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/himage.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-center{
    text-align: center;
    padding: 0 5%;
    /* border: #0b0c0f 1px solid; */
}
.logo-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: #0b0c0f 2px solid; */
    padding: 0 4%;
    margin-bottom: 7%;
    transform: translateY(-50%);
    /* margin-top: 0; */
}

.logo{
    width: 65px;
    height: 25px;
    /* transform: translate(-615px,-90px); */
}
.fa-bars{
    display: none;
    color: white;
    background: gray;
    width: 20px;
    height: 20px;
    padding: 5px;
}
.display-menu{
    background: rgb(29, 28, 28);
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 8px;
    text-align: center;
    padding: 15px 0;
    color: antiquewhite;
    transform: translate(50px,-173px);
    display: block;
}
/* .wrapper{
    position: relative;
    align-self: flex-end;
    top: 100px;
    left: 300px;
    border: #eee 1px solid;
} */
.display-menu .dis-2,.dis-3{
    margin-top: 10px;
}
/* .ic{
    width: fit-content;
    height: fit-content;
} */
.login-button{
    border: none;
    background: transparent;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
    font-size: medium;
    /* align-self: flex-end; */
    /* transform: translateY(-120px); */
    /* margin-right: 40px; */
    padding: 10px;
    border-radius: 5px;
}
.login-button:hover{
    background: linear-gradient(rgba(126, 126, 141, 0.6),rgba(126, 126, 141, 0.6));
    cursor: pointer;
    color: #fff;
}
.banner__intro{
    margin-bottom: 10px;
    margin-top: 30px;
}
.banner__intro p{
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.cover{
    width: 80%;
    height: 30%;
    padding-left: 20px;
    padding-right: 20px;
}
.green-button{
    background: #1ce783;
    width: 100%;
    height: 12%;
    text-transform: uppercase;
    font-size: larger;
    border: none;
    border-radius: 5px;
}
.green-button:hover{
    background: linear-gradient(rgba(5, 253, 87, 0.4),rgba(5, 253, 87, 0.4));
    cursor: pointer;
}
.banner__links{
    margin-top: 15px;
    color: gray;
}
.banner__links a{
    color: gray;
    font-weight: bold;
}
.banner__signup{
    margin-top: 20px;
}
.banner__signup a{
    font-size: larger;
    color: white;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 8.5%;
}
.description p{
    margin-bottom: 20px;
}
.description .h1{
    font-size: 2.8rem;
    font-family: 'Fjalla One', sans-serif;
}
.description__green{
    color: #1ce783;
    font-size: medium;
}
.description__end{
    margin-bottom: 0;
}
.featured{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.featured div{
    margin-left: 25px;
    color: #fff;
    padding-top: 25px;
    padding-left: 25px;
}
.featured div:hover{
    cursor: pointer;
}

.featured div .category{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 15px;
}
.featured .tv-shows{
    background: url(./assets/original.jfif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 288px;
}
.featured .movies{
    background: url(./assets/original\ \(1\).jfif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 288px;
}
.featured .hulu-originals{
    background: url(./assets/original\ \(2\).jfif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 288px;
}
.featured .premiums{
    background: url(./assets/original\ \(3\).jfif);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 288px;
}
/* .premium-info{
    color: whitesmoke;
    transform: translate(1012px,-50px);
    font-size: 12px;
    width: fit-content;
    margin-bottom: 100px;
} */
.subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.subscription__green{
    color: #1ce783;
    margin-bottom: 15px;
}
.subscription__head{
    font-size: 3rem;
    margin-bottom: 25px;
}
.subscription__details{
    font-size: large;
}
.subscription__details__last{
    margin-bottom: 25px;
}
.subscription__link{
    color: whitesmoke;
    margin-top: 20px;
}
.fa-angle-down{
    font-size: larger;
    margin-top: 30px;
    animation: top-to-bottom 2.5s ease-in forwards infinite alternate;
    margin-bottom: 30px;
}
@keyframes top-to-bottom {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateY(100%);
    }
    66%{
        transform: translateY(50%);
    }
    100%{
        transform: translateY(50);
    }
    
}
.fa-angle-down:hover{
    cursor: pointer;
}
.slider{
    background: url(./assets/live-sports.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    margin-bottom: 50px;
    border:1px solid #0b0c0f;
    margin-top: 30px;
}
.active-link{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    /* top: 20px; */
    width: 80px;
    height: 5px;
    background: #fff;
}
.slider__info{
    width: 40%;
    margin-left: 7%;
    margin-top: 10%;
    height: fit-content;
    /* border: 1px solid #fff; */
}
.slider__nav{
    color:rgb(160, 156, 156);
    text-transform: capitalize;
    font-size: large;
    font-weight: bold;
    display: flex;
    width: 75%;
    justify-content: space-between;
}
.slider__nav  a:hover{
    cursor: pointer;
}
.indicator{
    margin-top: 10px;
    height: 5px;
    width: 90px;
    background: #fff;
    margin-bottom: 35px;
}

.slider__title{
    font-size: 3.5rem;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 20px;
}
.slider__gist{
    font-size: large;
    color: #fff;
}
.slider__icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.slider__icons .icon{
    background: #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background: #d9dce2;;
    align-items: flex-start;
    padding-top: 50px;
}
#arrow,#arrow-last{
    display: none;
}
.footer__inner{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer__inner__top-rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}
.other{
    display: flex;
    flex-direction: column;
    display: none;
}
.other p{
    margin-top: 10px;
    text-transform: capitalize;
    color: grey;
}
.real{
    display: block;
}
.section{
    display: flex;
    flex-direction: column;
}
.section p{
    margin-top: 10px;
    text-transform: capitalize;
    color: grey;
}
.section .bold{
    color: #0b0c0f;
}
.separator{
    display: block;
}
.line{
    width: 100%;
    height: 3px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer__inner__icons{
    display: flex;
    width: 15%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.footer__inner__icons div i{
    font-size: x-large;
    color: gray;
}
.footer__inner__bottom-rows{
    font-size: small;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.footer__inner__bottom-rows .link{
    margin-left: 25px;
    color: gray;
}
.footer__inner__bottom-rows:nth-of-type(2){
    transform: translateX(20px);
}
.start,.end{
    color: gray;
}

/* modal pop-up-form */
.pop-up-form{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.pop-up-box{
    margin: 10% auto;
    width: 45%;
    background: #fff;
    color: #333;
    position: relative;
    animation: popup 1s;
}
@keyframes popup {
    from{
        opacity: 0.4;
    }
    to{
        opacity: 1;
    }
}
.form-control{
    margin: 20px 0;

}
.form-control label{
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.form-control input{
    width: 100%;
    border: 1px solid #0b0c0f;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
}
.btn-dark{
    color: #fff;
    background: #272C35;
    border-radius: 5px;
    border: none;
    height: 50px;
    cursor: pointer;
}
.pop-up-footer{
    background: #f7f7f7;
    color: #333;
    padding: 20px 0;
    border-top: #eee 1px solid;
    text-align: center;
    margin-top: 70px;
}
.pop-up-footer a{
    color: steelblue;
}



.pop-up-body{
 padding: 50px;       
}

.pop-up-body h3{
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-family:Arial, Helvetica, sans-serif
}
.forgot{
    color: steelblue;
}
.pop-up-body .btn{
    width: 100%;
    margin-top: 30px;
}
.pop-up-form .fa-xmark{
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    color: gray;
    right: 20px;
}

/* slider animation */
#io{
    cursor: pointer;
}
@keyframes left-right {
    /* 0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(150px);
    } */
    100%{
        transform: translateX(150px);
    }
}

@media (max-width:1100px) {
    .banner-center{
        text-align: center;
        padding: 0 5%;
    }
    .featured{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.3rem;
        height: fit-content;
        width: 100%;
        border: #fff 1px solid;
        /* padding: 0 5%; */
        padding-left: 3%;
        padding-right: 6%;
        margin-bottom: 130px;
    }
    .featured > div{
        color: #fff;
    }
    .featured .movies{
        height: 500px;
        width: 85%;
        background: url("./assets/original\ \(1\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .featured .tv-shows{
        height: 500px;
        width: 90%;
        background: url("./assets/original.jfif");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .featured .hulu-originals{
        height: 500px;
        width: 90%;
        background: url("./assets/original\ \(2\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 3%;
    }
    .featured .premiums{
        height: 500px;
        width: 85%;
        background: url("./assets/original\ \(3\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 3%;
    }
    .premium-info{
        color: whitesmoke;
        transform: translate(0,0);
        font-size: 12px;
        width: fit-content;
        margin-bottom: 100px;
    }
    .featured div .category{
        font-size: larger;
    }
    .slider{
        background:url(./assets/live-sports-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: 100%;
        margin-bottom: 100px;
        /* border:1px solid red; */
        margin-top: 30px;
        text-align: center;
    }
    .slider__nav{
        /* color:rgb(160, 156, 156); */
        text-transform: capitalize;
        font-size: large;
        font-weight: bold;
        display: flex;
        width: 100%;
        justify-content: center;
        /* border: white 1px solid; */
    }
    .slider__nav > div{
        margin-right: 20px;
        margin-left: 20px;
    }
    .slider__info{
        width: 100%;
        margin-top: 10%;
        height: fit-content;
        margin-left: 0;
    }
    .slider__title{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 15px;
        margin-top: 140px;
    }
    .slider__icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }
    .slider__icons > div{
        margin-left: 10px;
        margin-right: 10px;
    }
    .indicator{
        transform: translateX(180px);
        border: #1ce783 solid 1px;
    }
    .footer__inner__icons{
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin-bottom: 30px;
        /* margin-left: auto;
        margin-right: auto; */
     }
     .fa-bars{
        display: none;
        color: white;
        background: gray;
        width: 30px;
        height: 30px;
        padding: 7px;
        transform: translate(400%,-770%);
        border-radius: 3px;
        margin-bottom: 20px;
        cursor: pointer;
        position: absolute;
    }
    .display-menu{
        background: rgb(29, 28, 28);
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
        color: antiquewhite;
        transform: translate(50px,-173px);
        display: none;
    }
   
}

@media (max-width:1576px) {
    .fa-bars{
        display: none;
    }
    .display-menu{
        display: none;
    }
}
@media (max-width:1626px) {
    .fa-bars{
        display: none;
    }
    .display-menu{
        display: none;
    }
}
@media (max-width:768px) {
    .login-button{
        display: none;
    }
    .fa-bars{
        display: block;
        color: white;
        background: gray;
        width: 30px;
        height: 30px;
        padding: 7px;
        transform: translate(400%,-770%);
        border-radius: 3px;
        margin-bottom: 20px;
        cursor: pointer;
        position: absolute;
    }
    .display-menu{
        background: rgb(29, 28, 28);
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
        color: antiquewhite;
        transform: translate(50px,-173px);
        display: none;
    }
    
}
















@media (max-width:576px) {
    .banner{
        width: 100%;
        height: 100vh;
    }
    .login-button{
        display: none;
    }
    .logo{
        width: 30px;
        height: 20px;
        transform: translate(-135px,-100px);
    }
    .cover{
        width: 80%;
        height: 20%;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
    .banner-center{
        text-align: center;
        padding: 0 5%;
        height: fit-content;
    }
    .banner__intro{
        margin-top: 30px;
    }
    .banner__intro p{
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: bolder;
        text-align: center;
        border: 1px solid blue;
    }
    .green-button{
        background: #1ce783;
        width: 80%;
        height: 15%;
        text-transform: uppercase;
        font-size: small;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
    }
    .banner__links{
        margin-top: 40px;
    }
    .banner__links a{
        color: gray;
        font-weight: bold;
        font-size: smaller;
        /* border: 1px solid blue; */
    }
    .banner__signup{
        margin-top: 50px;
    }
    .banner__signup a{
        font-size: smaller;
        margin-top: 10px;
        border: 1px solid blue;
    }
    .fa-bars{
        display: block;
        position: absolute;
        /* left: 120px; */
        /* top: 70px; */
    }
    .display-menu{
        display: block;
        /* transform: translateX(-10px); */
        position: absolute;
        left: 110px;
    }
     /* .wrapper{
        position: relative;
        align-self: flex-end;
        top: 10px;
        left: 30px;
        border: #eee 1px solid;
    }  */
    /* .visible{
        background: rgb(29, 28, 28);
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        text-align: center;
        padding: 15px 0;
        color: antiquewhite;
        transform: translate(50px,-173px);
        display: none;
    }
    
    .visible .dis-2,.dis-3{
        margin-top: 10px;
    } */
    .display-menu .dis-2,.dis-3{
        margin-top: 10px;
    }
    /* .ic{
        transform: translate(135px,-120px);
        background: #0b0c0f;
    } */
    .description__green{
        font-size: smaller;
    }
    .description .h1{
        font-size: 1.4rem;
        font-family: 'Fjalla One', sans-serif;
    }
    .description__end{
        margin: 0 auto;
        font-size: smaller;
        text-align: center;
    }
    .description__last{
        margin-top: 0;
        font-size: smaller;
        margin-bottom: 50px;
    }
    .featured{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.3rem;
        height: fit-content;
        width: 100%;
        border: #fff 1px solid;
        /* padding: 0 5%; */
        padding-left: 3%;
        padding-right: 6%;
        margin-bottom: 130px;
    }
    .featured > div{
        color: #fff;
    }
    .featured .movies{
        height: 250px;
        width: 85%;
        background: url("./assets/original\ \(1\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .featured .tv-shows{
        height: 250px;
        width: 90%;
        background: url("./assets/original.jfif");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .featured .hulu-originals{
        height: 250px;
        width: 90%;
        background: url("./assets/original\ \(2\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 3%;
    }
    .featured .premiums{
        height: 250px;
        width: 85%;
        background: url("./assets/original\ \(3\).jfif");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 3%;
    }
    .premium-info{
        color: whitesmoke;
        transform: translate(0,0);
        font-size: 12px;
        width: fit-content;
        margin-bottom: 100px;
    }
    .featured div .category{
        font-size: larger;
    }
    .subscription{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        padding: 0 40px;
    }
    .subscription__green{
        color: #1ce783;
        margin-bottom: 15px;
        font-size: small;
    }
    .subscription__head{
        font-size: xx-large;
        font-weight: bolder;
    }
    .subscription__details,.subscription__details__last{
        font-size: medium;
    }
    .subscription__link{
        font-size: small;
    }
    .slider{
        background:url(./assets/live-sports-small.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 1000px;
        width: 100%;
        margin-bottom: 100px;
        border:1px solid red;
        margin-top: 30px;
        text-align: center;
        padding: 0 7%;
    }
    .slider__nav{
        color:rgb(160, 156, 156);
        text-transform: capitalize;
        font-size: small;
        font-weight: bold;
        display: flex;
        width: 100%;
        justify-content: space-around;
        border: white 1px solid;
    }
    .slider__info{
        width: 100%;
        margin-top: 10%;
        height: fit-content;
        margin-left: 0;
    }
    .slider__gist{
        font-size: small;
    }
    .slider__title{
        font-size: 2rem;
        font-weight: bolder;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 15px;
        margin-top: 100px;
    }
    .slider__icons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        /* border: #0b0c0f 2px solid; */
    }
    .slider__icons > div{
        /* border: #0b0c0f 2px solid; */
        text-align: center;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        padding-right: 7px;
        height: fit-content;
        

    }
    .slider__icons div .icon{
        height: 40px;
        width: 40px;
    }
    .footer{
        padding: 0 5%;
        height: fit-content;
    }
    #arrow,#arrow-last{
        display: inline-block;
        animation: none;
    }
    .bold{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-transform: uppercase;
    }
    .hide{
        display: none;
    }
    .footer__inner__icons{
        display: flex;
        width: 70%;
        justify-content: space-around;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
     }
    .section{
        width: 100%;
    }
    .other{
        display: block;
    }
    .real{
        display: none;
    }
    .footer__inner__top-rows{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .footer__inner{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .footer__inner__bottom-rows{
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        width: 100%;
    }
    .footer__inner__bottom-rows .link{
        margin-top: 15px;
        color: gray;
        text-align: center;
    }
    .end{
        margin: 15px 0;
    }
    .logo-login{
        display: block;
    }
    
    
}